{% extends 'base.html' %} {% block title %}About Us{% endblock title %}
{% block body %}
{% load static %}
<div class="text-center d-none d-lg-block">
  <img class = "img-fluid"src="{% static 'images/team.png'%}" alt="">
</div>
<div class="text-center d-lg-none d-xs-block d-sm-block">
  <img class = "img-fluid" style="width: 30rem;" src="{% static 'images/team.png'%}" alt="">
</div>
<div class="bg-pattern">
<div class="container ">
    <div class="row">
        <div class="col-md-3 text-center mb-5 ">
            <div class="card mx-auto" style="width: 19rem;">
                <img class="card-img-top" src="{% static 'images/sangeeta.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"> Sangita Neupane Ghimire </h5>
                  <h6 class="card-subtitle mb-2 text-muted">Principal / Founder</h6>
                  <p class="card-text">This Anmol Special Education Center has embarked on a journey to bridge the needs of children with different abilities by creating 
                    positive experiences for children, families and professionals. Let us work hand-in-hand to recognize and respect different abilities of children, provide information to 
                     families about the available options, and to develop a productive and supportive partnership to nurture children with different abilities. We believe 
                     you will have a long, happy and rewarding association with Anmol Special Education Center. </p>
                  
                </div>
              </div>
        </div>
        <div class="col-md-3  text-center mb-5">
            <div class="card mx-auto " style="width: 19rem;">
                <img class="card-img-top" src="{% static 'images/archana.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Archana Rimal</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Director / Founder</h6>
                  <p class="card-text text-center">
                    Autism is a very complex and challenging condition. With care, and assistance however, people with autism can open our eyes to a more beautiful way of living. There is love to be shared and much to be learned from people with autism. From the simple but powerful art of compassion that autistic children have towards their carers, to the chaotically meticulous drive that guides them. All they need is the right environment.<br>
                    Education is our only way towards that.</p>
     
                </div>
              </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="card mx-auto" style="width: 19rem;">
                <img class="card-img-top" src="{% static 'images/hemsagar.png' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Hem Sagar Rimal</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Head Doctor / Supportive</h6>
                  <p class="card-text"> Autism is not a disease, it is overall developing into new personality that most of the people can not even dare to think like that. So parents do not loose hope, stay positive and enjoy the journey for the future of your superhero kid to explore his or hers extraordinary abilities and get ready to see the world from different angle.</p>
                  
                </div>
              </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="card mx-auto" style="width: 19rem;">
              <img class="card-img-top" src="{% static 'images/hemsagar.png' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Bikash Ghimere</h5>
                <h6 class="card-subtitle mb-2 text-muted">Accountant / Supportive </h6>
                <p class="card-text">Anmol S.E.C is dedicated to enriching and empowering the lives of children, teens and families within the Autism community. The vision we work toward is an inclusive society that accepts and respects all youth and adults on the autism spectrum and empowers each person to reach his or her highest potential. We offer innovative and inspiring programs, training, and support services. </p>
                
              </div>
            </div>
      </div>
    </div>
</div>
</div>
{% endblock body%}
