{% extends 'base.html' %} {% block title %}Homepage{% endblock title %}
{% block body %}
{% load static %}
<div>
  <img class="img-fluid" src="{% static 'images/rechildren.jpg'%}" alt="children_images" />
</div>
<div class="container mb-4">
  <div class="row">
    <div class="col-12 text-center"> <img class="" width=120px src="{% static 'images/logo.png' %}" alt="anmol_logo">
    </div>
    <div class="col-12 text-center mt-3"><span>ANMOL SPECIAL EDUCATION CENTER</span></div>
    <div class="col-12 text-center mt-2"><a href="donate"><button class="btn btn-primary px-3 bg-orange bord-orange" >DONATE</button></a></div>
  </div>

  <hr class="divider">

  <div class="row">

    <div class="col-sm-6 text-center">
      <img class = "sq_img" src="{% static 'images/mission.png'%}" alt="mission_logo">
      <div class="txt-orange h4">MISSION</div>
      <div class="">I am going to be honest here i seriously do not know what im going to write here because i was
        thinking i might just get a filler text from the internet but that would take a lot more time than just writing
        something.</div>
        <hr class="d-sm-block d-md-none divider">
    </div>
    <div class="col-sm-6 text-center">
      <img class = "sq_img" src="{% static 'images/approach.png'%}" alt="approach_logo">
      <div class="txt-orange h4">APPROACH</div>
      <div class="">I am going to be honest here i seriously do not know what im going to write here because i was
        thinking i might just get a filler text from the internet but that would take a lot more time than just writing
        something.</div>
    </div>

    <div class="col-sm-12 mt-5 text-center">
      <img class = "sq_img" src="{% static 'images/newsletter.png'%}" alt="newsletter_logo">
      <div class="h3 txt-orange">JOIN OUR NEWSLETTER</div>
      <form>
        <div class="form-group">
          <input type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter your email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <button type="submit" class="btn btn-primary bg-orange bord-orange">Submit</button>
      </form>
    </div>

  </div>

</div>
{% endblock body %}