{% extends 'base.html' %} 
{% block title %}Events Create{% endblock title %}
{% block body %}
{% load static %}
<div class="display-1 text-condensed-rob text-center" id="head-text">Events</div>
<div class="container px-5 mb-5">


    <form action="/events/new" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_new_date" class="form-label">Date</label>
            <input class="form-control" type="date" id="id_new_date" name="date_text" autofocus>
        </div>
        <div class="mb-3">
            <label for="id_new_event" class="form-label">Event Name</label>
            <input class="form-control" type="text" id="id_new_event" name="event_text" >
        </div>
        <div class="mb-3">
            <label for="id_new_title" class="form-label">Body</label>
            <textarea class="form-control" id="id_new_body" name="body_text" style="height: 100px"></textarea>
        </div>
        <div class="mb-3">
            <label for="id_new_title" class="form-label">Password</label>
            <input class="form-control" type="password" id="password" name="password">
        </div>
        <div class="text-center">

            <input type="submit" class="btn bg-blue  text-light" id= "submit_event"value="Submit">
        </div>
    
    </form>
</div>

{% endblock body %}
